* {
    box-sizing: border-box;
}
.co{
    width: 33.33%;
    flex-wrap: wrap;
    float: left;
}
.mg{
    border: 1px solid blue;
}

/* #pdtList {
    background-color: aliceblue;
    width: 300px;
    height: 100px;
    border: 1px solid black;
  }

.co {
    background-color: aliceblue;
    width: 300px;
    height: 100px;
    border: 1px solid black;
}
.mg{
    width: 300px;
    height: 100px;

}
.pdtDetails{
    text-align: center;
} */